<br>
 <div class="jumbotron">
   <h1>Blocipedia!</h1>
   <p>Blocipedia is a self-destructing to-do list application</p>
 </div>

 <div class="row">
   <div class="col-md-4">
     <h2>To do list</h2>
     <p>Link displays a list of tasks to be completed</p>
   </div>
   <div class="col-md-4">
     <h2>Completed taks</h2>
     <p>Displays completed taks</p>
   </div>
   <div class="col-md-4">
     <h2>Users and community</h2>
     <p>Provides information about other Blocipedia users</p>
   </div>
 </div>
